TehHotel.Gui.TEst/Web References/RentACarVozilaService/RentACar2_Vozila.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentACar2_Vozila" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentACar2_Vozila" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vozilo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CenaDan" type="xs:double" />
      <xs:element minOccurs="0" name="Gorivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPoslovalnica" type="xs:int" />
      <xs:element minOccurs="0" name="IdVozilo" type="xs:int" />
      <xs:element minOccurs="0" name="Klima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Letnik" type="xs:int" />
      <xs:element minOccurs="0" name="Menjalnik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MocMotorja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Razpolozljivost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteviloOseb" type="xs:int" />
      <xs:element minOccurs="0" name="SteviloVrat" type="xs:int" />
      <xs:element minOccurs="0" name="Tip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vinjeta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vozilo" nillable="true" type="tns:Vozilo" />
  <xs:complexType name="ArrayOfVozilo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vozilo" nillable="true" type="tns:Vozilo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVozilo" nillable="true" type="tns:ArrayOfVozilo" />
</xs:schema>