TehHotel.Gui.TEst/Web References/BankaSecureService/KBP_Prijava.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.kbp.soa.feri.uni_mb.si/" targetNamespace="http://ws.kbp.soa.feri.uni_mb.si/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="prijava" type="tns:prijava" />
  <xs:element name="prijavaResponse" type="tns:prijavaResponse" />
  <xs:complexType name="prijava">
    <xs:sequence>
      <xs:element minOccurs="0" name="uporabniskoIme" type="xs:string" />
      <xs:element minOccurs="0" name="geslo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prijavaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>