TehHotel.Gui.TEst/Web References/RentACarRezervacijeService/RentACar2_Rezervacije1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentACar2_Rezervacije" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentACar2_Rezervacije" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rezervacija">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumPrevzema" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatumVracila" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdRezervacija" type="xs:int" />
      <xs:element minOccurs="0" name="IdStranka" type="xs:int" />
      <xs:element minOccurs="0" name="IdVozilo" type="xs:int" />
      <xs:element minOccurs="0" name="PrevzemIdPoslovalnica" type="xs:int" />
      <xs:element minOccurs="0" name="VraciloIdPoslovalnica" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rezervacija" nillable="true" type="tns:Rezervacija" />
  <xs:complexType name="ArrayOfRezervacija">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rezervacija" nillable="true" type="tns:Rezervacija" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRezervacija" nillable="true" type="tns:ArrayOfRezervacija" />
  <xs:complexType name="Racun">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumRacuna" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdRacuna" type="xs:int" />
      <xs:element minOccurs="0" name="IdRezervacija" type="xs:int" />
      <xs:element minOccurs="0" name="NazivBanke" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StevilkaBancnegaRacuna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZnesekRacuna" type="xs:double" />
      <xs:element minOccurs="0" name="bIC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Racun" nillable="true" type="tns:Racun" />
</xs:schema>