TehHotel.Gui.TEst/Web References/RentACarRezervacijeService/RentACar2_Rezervacije0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://164.8.251.93/SOATravel/rentacar2/RentACar2_Rezervacije.Rezervacije.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RentACar2_Rezervacije" />
  <xs:element name="dodajRezervacijo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RentACar2_Rezervacije" minOccurs="0" name="rezervacija" nillable="true" type="q1:Rezervacija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajRezervacijoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dodajRezervacijoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spremeniRezervacijo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRezervacije" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RentACar2_Rezervacije" minOccurs="0" name="rezervacija" nillable="true" type="q2:Rezervacija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spremeniRezervacijoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spremeniRezervacijoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prekliciRezervacijo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRezervacije" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prekliciRezervacijoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prekliciRezervacijoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pregledVsehRezervacij">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pregledVsehRezervacijResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RentACar2_Rezervacije" minOccurs="0" name="pregledVsehRezervacijResult" nillable="true" type="q3:ArrayOfRezervacija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="izdajRacun">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RentACar2_Rezervacije" minOccurs="0" name="racun" nillable="true" type="q4:Racun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="izdajRacunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="izdajRacunResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>