TehHotel.Gui.TEst/Web References/BankaService/KBP-Stranke6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.feri.uni-mb.si/soa/KBP/odgovor" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Odgovor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Status" type="xs:string" />
        <xs:element name="OdgovorSifra" type="xs:string" />
        <xs:element name="Uspesno" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>