TehHotel.Gui.TEst/Web References/RentACarStrankeService/RentACar2_Stranke1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://164.8.251.93/SOATravel/rentacar2/RentACar2_Stranke.Stranke.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RentACar2_Stranke" />
  <xs:element name="dodajStranko">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RentACar2_Stranke" minOccurs="0" name="stranka" nillable="true" type="q1:Stranka" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajStrankoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dodajStrankoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="odstraniStranko">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idStranke" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="odstraniStrankoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="odstraniStrankoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spremeniStranko">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idStranka" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RentACar2_Stranke" minOccurs="0" name="stranka" nillable="true" type="q2:Stranka" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spremeniStrankoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spremeniStrankoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pregledVsehStrank">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pregledVsehStrankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RentACar2_Stranke" minOccurs="0" name="pregledVsehStrankResult" nillable="true" type="q3:ArrayOfStranka" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>