TehHotel.TestClient/Service References/RemoteStrankaService/StrankaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http//www.tehhotel.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http//www.tehhotel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http//www.tehhotel.com/Imports">
      <xsd:import schemaLocation="http://164.8.251.93/SOATravel/hotel2/StrankaService.svc?xsd=xsd0" namespace="http//www.tehhotel.com/" />
      <xsd:import schemaLocation="http://164.8.251.93/SOATravel/hotel2/StrankaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StrankaService_CreateStranka_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStranka" />
  </wsdl:message>
  <wsdl:message name="StrankaService_CreateStranka_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStrankaResponse" />
  </wsdl:message>
  <wsdl:message name="StrankaService_ReadStranka_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadStranka" />
  </wsdl:message>
  <wsdl:message name="StrankaService_ReadStranka_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadStrankaResponse" />
  </wsdl:message>
  <wsdl:message name="StrankaService_UpdateStranka_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStranka" />
  </wsdl:message>
  <wsdl:message name="StrankaService_UpdateStranka_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStrankaResponse" />
  </wsdl:message>
  <wsdl:message name="StrankaService_DeleteStranka_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStranka" />
  </wsdl:message>
  <wsdl:message name="StrankaService_DeleteStranka_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStrankaResponse" />
  </wsdl:message>
  <wsdl:message name="StrankaService_ListStranka_InputMessage">
    <wsdl:part name="parameters" element="tns:ListStranka" />
  </wsdl:message>
  <wsdl:message name="StrankaService_ListStranka_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListStrankaResponse" />
  </wsdl:message>
  <wsdl:message name="StrankaService_CreateStrankaReturnId_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStrankaReturnId" />
  </wsdl:message>
  <wsdl:message name="StrankaService_CreateStrankaReturnId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStrankaReturnIdResponse" />
  </wsdl:message>
  <wsdl:message name="StrankaService_IsciStranka_InputMessage">
    <wsdl:part name="parameters" element="tns:IsciStranka" />
  </wsdl:message>
  <wsdl:message name="StrankaService_IsciStranka_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsciStrankaResponse" />
  </wsdl:message>
  <wsdl:portType name="StrankaService">
    <wsdl:operation name="CreateStranka">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/StrankaService/CreateStranka" message="tns:StrankaService_CreateStranka_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/StrankaService/CreateStrankaResponse" message="tns:StrankaService_CreateStranka_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadStranka">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/StrankaService/ReadStranka" message="tns:StrankaService_ReadStranka_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/StrankaService/ReadStrankaResponse" message="tns:StrankaService_ReadStranka_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStranka">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/StrankaService/UpdateStranka" message="tns:StrankaService_UpdateStranka_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/StrankaService/UpdateStrankaResponse" message="tns:StrankaService_UpdateStranka_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStranka">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/StrankaService/DeleteStranka" message="tns:StrankaService_DeleteStranka_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/StrankaService/DeleteStrankaResponse" message="tns:StrankaService_DeleteStranka_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListStranka">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/StrankaService/ListStranka" message="tns:StrankaService_ListStranka_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/StrankaService/ListStrankaResponse" message="tns:StrankaService_ListStranka_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateStrankaReturnId">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/StrankaService/CreateStrankaReturnId" message="tns:StrankaService_CreateStrankaReturnId_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/StrankaService/CreateStrankaReturnIdResponse" message="tns:StrankaService_CreateStrankaReturnId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsciStranka">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/StrankaService/IsciStranka" message="tns:StrankaService_IsciStranka_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/StrankaService/IsciStrankaResponse" message="tns:StrankaService_IsciStranka_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>