TehHotel.Gui.TEst/Service References/ServiceReference1/RentACar2_Stranke.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentACar2_Stranke" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentACar2_Stranke" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Stranka">
    <xs:sequence>
      <xs:element minOccurs="0" name="Drzava" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idstranka" type="xs:int" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kraj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostnaStevilka" type="xs:int" />
      <xs:element minOccurs="0" name="Priimek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ulica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stranka" nillable="true" type="tns:Stranka" />
  <xs:complexType name="ArrayOfStranka">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stranka" nillable="true" type="tns:Stranka" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStranka" nillable="true" type="tns:ArrayOfStranka" />
</xs:schema>