TehHotel.Gui.TEst/Web References/RezervacijaService/RezervacijaService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http//www.tehhotel.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1476/RezervacijaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1476/RezervacijaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TehHotel.Contracts.Data" />
  <xs:element name="CreateRezervacija">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idStranka" type="xs:int" />
        <xs:element minOccurs="0" name="hotelid" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TehHotel.Contracts.Data" minOccurs="0" name="rezervacijeSobe" nillable="true" type="q1:ArrayOfRezervacijaSobe" />
        <xs:element xmlns:q2="http//www.tehhotel.com/" minOccurs="0" name="posebneRezervacije" nillable="true" type="q2:Rezervacije" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bazen" type="xs:boolean" />
      <xs:element xmlns:q3="http//www.tehhotel.com/" minOccurs="0" name="Dvorane" nillable="true" type="q3:ArrayOfDvorana" />
      <xs:element minOccurs="0" name="IdHotel" type="xs:int" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kuhinja" type="xs:boolean" />
      <xs:element xmlns:q4="http//www.tehhotel.com/" minOccurs="0" name="Naslov" nillable="true" type="q4:Naslov" />
      <xs:element xmlns:q5="http//www.tehhotel.com/" minOccurs="0" name="Osebje" nillable="true" type="q5:ArrayOfZaposleni" />
      <xs:element xmlns:q6="http//www.tehhotel.com/" minOccurs="0" name="Parkirisca" nillable="true" type="q6:ArrayOfParkirisce" />
      <xs:element xmlns:q7="http//www.tehhotel.com/" minOccurs="0" name="Sobe" nillable="true" type="q7:ArrayOfSoba" />
      <xs:element minOccurs="0" name="Zvezdice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q8="http//www.tehhotel.com/" name="Hotel" nillable="true" type="q8:Hotel" />
  <xs:complexType name="ArrayOfDvorana">
    <xs:sequence>
      <xs:element xmlns:q9="http//www.tehhotel.com/" minOccurs="0" maxOccurs="unbounded" name="Dvorana" nillable="true" type="q9:Dvorana" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q10="http//www.tehhotel.com/" name="ArrayOfDvorana" nillable="true" type="q10:ArrayOfDvorana" />
  <xs:complexType name="Dvorana">
    <xs:sequence>
      <xs:element minOccurs="0" name="HotelId" type="xs:int" />
      <xs:element minOccurs="0" name="IdDvorana" type="xs:int" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Povrsina" type="xs:double" />
      <xs:element minOccurs="0" name="StLjudi" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element xmlns:q11="http//www.tehhotel.com/" name="Dvorana" nillable="true" type="q11:Dvorana" />
  <xs:complexType name="Naslov">
    <xs:sequence>
      <xs:element minOccurs="0" name="Drzava" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNaslov" type="xs:int" />
      <xs:element minOccurs="0" name="Kraj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostnaStevilka" type="xs:int" />
      <xs:element minOccurs="0" name="Ulica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q12="http//www.tehhotel.com/" name="Naslov" nillable="true" type="q12:Naslov" />
  <xs:complexType name="ArrayOfZaposleni">
    <xs:sequence>
      <xs:element xmlns:q13="http//www.tehhotel.com/" minOccurs="0" maxOccurs="unbounded" name="Zaposleni" nillable="true" type="q13:Zaposleni" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q14="http//www.tehhotel.com/" name="ArrayOfZaposleni" nillable="true" type="q14:ArrayOfZaposleni" />
  <xs:complexType name="Zaposleni">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumRojstva" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatumZaposlitve" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdZaposleni" type="xs:int" />
      <xs:element xmlns:q15="http//www.tehhotel.com/" minOccurs="0" name="Identifikacija" nillable="true" type="q15:Identifikacija" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Izobrazba" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http//www.tehhotel.com/" minOccurs="0" name="Naslov" nillable="true" type="q16:Naslov" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priimek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vloga" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q17="http//www.tehhotel.com/" name="Zaposleni" nillable="true" type="q17:Zaposleni" />
  <xs:complexType name="Identifikacija">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdIdentifikacija" type="xs:int" />
      <xs:element minOccurs="0" name="Tip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vrednost" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q18="http//www.tehhotel.com/" name="Identifikacija" nillable="true" type="q18:Identifikacija" />
  <xs:complexType name="ArrayOfParkirisce">
    <xs:sequence>
      <xs:element xmlns:q19="http//www.tehhotel.com/" minOccurs="0" maxOccurs="unbounded" name="Parkirisce" nillable="true" type="q19:Parkirisce" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q20="http//www.tehhotel.com/" name="ArrayOfParkirisce" nillable="true" type="q20:ArrayOfParkirisce" />
  <xs:complexType name="Parkirisce">
    <xs:sequence>
      <xs:element minOccurs="0" name="HotelId" type="xs:int" />
      <xs:element minOccurs="0" name="IdParkirisce" type="xs:int" />
      <xs:element minOccurs="0" name="Pokrito" type="xs:boolean" />
      <xs:element minOccurs="0" name="Stevilka" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q21="http//www.tehhotel.com/" name="Parkirisce" nillable="true" type="q21:Parkirisce" />
  <xs:complexType name="ArrayOfSoba">
    <xs:sequence>
      <xs:element xmlns:q22="http//www.tehhotel.com/" minOccurs="0" maxOccurs="unbounded" name="Soba" nillable="true" type="q22:Soba" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q23="http//www.tehhotel.com/" name="ArrayOfSoba" nillable="true" type="q23:ArrayOfSoba" />
  <xs:complexType name="Soba">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balkon" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cena" type="xs:double" />
      <xs:element minOccurs="0" name="Hladilnik" type="xs:boolean" />
      <xs:element minOccurs="0" name="HotelId" type="xs:int" />
      <xs:element minOccurs="0" name="IdSoba" type="xs:int" />
      <xs:element minOccurs="0" name="Internet" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nadstropje" type="xs:int" />
      <xs:element minOccurs="0" name="StPostelj" type="xs:int" />
      <xs:element minOccurs="0" name="Stevilka" type="xs:int" />
      <xs:element minOccurs="0" name="Televizija" type="xs:boolean" />
      <xs:element minOccurs="0" name="Valuta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q24="http//www.tehhotel.com/" name="Soba" nillable="true" type="q24:Soba" />
  <xs:complexType name="Stranka">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumRojstva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdStranka" type="xs:int" />
      <xs:element xmlns:q25="http//www.tehhotel.com/" minOccurs="0" name="Identifikacija" nillable="true" type="q25:Identifikacija" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element xmlns:q26="http//www.tehhotel.com/" minOccurs="0" name="Naslov" nillable="true" type="q26:Naslov" />
      <xs:element minOccurs="0" name="Priimek" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element xmlns:q27="http//www.tehhotel.com/" name="Stranka" nillable="true" type="q27:Stranka" />
  <xs:complexType name="Rezervacije">
    <xs:sequence>
      <xs:element xmlns:q28="http//www.tehhotel.com/" minOccurs="0" name="RezervacijeDvorane" nillable="true" type="q28:ArrayOfRezervacijaDvorane" />
      <xs:element xmlns:q29="http//www.tehhotel.com/" minOccurs="0" name="RezervacijeParkirisca" nillable="true" type="q29:ArrayOfRezervacijaParkirisca" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q30="http//www.tehhotel.com/" name="Rezervacije" nillable="true" type="q30:Rezervacije" />
  <xs:complexType name="ArrayOfRezervacijaDvorane">
    <xs:sequence>
      <xs:element xmlns:q31="http//www.tehhotel.com/" minOccurs="0" maxOccurs="unbounded" name="RezervacijaDvorane" nillable="true" type="q31:RezervacijaDvorane" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q32="http//www.tehhotel.com/" name="ArrayOfRezervacijaDvorane" nillable="true" type="q32:ArrayOfRezervacijaDvorane" />
  <xs:complexType name="RezervacijaDvorane">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cena" type="xs:decimal" />
      <xs:element minOccurs="0" name="DatumDo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatumOd" type="xs:dateTime" />
      <xs:element xmlns:q33="http//www.tehhotel.com/" minOccurs="0" name="Dvorana" nillable="true" type="q33:Dvorana" />
      <xs:element minOccurs="0" name="IdRezervacijaDvorane" type="xs:int" />
      <xs:element minOccurs="0" name="ImePosebneStoritve" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SteviloLjudi" type="xs:int" />
      <xs:element xmlns:q34="http//www.tehhotel.com/" minOccurs="0" name="Stranka" nillable="true" type="q34:Stranka" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element xmlns:q35="http//www.tehhotel.com/" name="RezervacijaDvorane" nillable="true" type="q35:RezervacijaDvorane" />
  <xs:complexType name="ArrayOfRezervacijaParkirisca">
    <xs:sequence>
      <xs:element xmlns:q36="http//www.tehhotel.com/" minOccurs="0" maxOccurs="unbounded" name="RezervacijaParkirisca" nillable="true" type="q36:RezervacijaParkirisca" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q37="http//www.tehhotel.com/" name="ArrayOfRezervacijaParkirisca" nillable="true" type="q37:ArrayOfRezervacijaParkirisca" />
  <xs:complexType name="RezervacijaParkirisca">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cena" type="xs:decimal" />
      <xs:element minOccurs="0" name="DatumDo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatumOd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImePosebneStoritve" nillable="true" type="xs:string" />
      <xs:element xmlns:q38="http//www.tehhotel.com/" minOccurs="0" name="Parkirisce" nillable="true" type="q38:Parkirisce" />
      <xs:element minOccurs="0" name="RezervacijaParkirisca" type="xs:int" />
      <xs:element xmlns:q39="http//www.tehhotel.com/" minOccurs="0" name="Stranka" nillable="true" type="q39:Stranka" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element xmlns:q40="http//www.tehhotel.com/" name="RezervacijaParkirisca" nillable="true" type="q40:RezervacijaParkirisca" />
  <xs:element name="CreateRezervacijaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http//www.tehhotel.com/" minOccurs="0" name="CreateRezervacijaResult" nillable="true" type="q41:Racun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Racun">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumRacuna" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HotelId" type="xs:int" />
      <xs:element minOccurs="0" name="IdRacun" type="xs:int" />
      <xs:element minOccurs="0" name="Placano" type="xs:boolean" />
      <xs:element xmlns:q42="http//www.tehhotel.com/" minOccurs="0" name="RezervacijeDvorane" nillable="true" type="q42:ArrayOfRezervacijaDvorane" />
      <xs:element xmlns:q43="http//www.tehhotel.com/" minOccurs="0" name="RezervacijeParkirisca" nillable="true" type="q43:ArrayOfRezervacijaParkirisca" />
      <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/TehHotel.Contracts.Data" minOccurs="0" name="RezervacijeSob" nillable="true" type="q44:ArrayOfRezervacijaSobe" />
      <xs:element minOccurs="0" name="SkupnaCena" type="xs:decimal" />
      <xs:element minOccurs="0" name="StevilkaRacuna" type="xs:int" />
      <xs:element xmlns:q45="http//www.tehhotel.com/" minOccurs="0" name="Stranka" nillable="true" type="q45:Stranka" />
      <xs:element minOccurs="0" name="Valuta" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element xmlns:q46="http//www.tehhotel.com/" name="Racun" nillable="true" type="q46:Racun" />
  <xs:element name="DeleteRacun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRacunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRacunResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRezervacijaSobe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRezervacijaSobeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRezervacijaSobeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRezervacijaDvorane">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRezervacijaDvoraneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRezervacijaDvoraneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRezervacijaParkirisca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRezervacijaParkiriscaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRezervacijaParkiriscaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRacun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idStranka" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRacunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http//www.tehhotel.com/" minOccurs="0" name="ListRacunResult" nillable="true" type="q47:ArrayOfRacun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfRacun">
    <xs:sequence>
      <xs:element xmlns:q48="http//www.tehhotel.com/" minOccurs="0" maxOccurs="unbounded" name="Racun" nillable="true" type="q48:Racun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q49="http//www.tehhotel.com/" name="ArrayOfRacun" nillable="true" type="q49:ArrayOfRacun" />
  <xs:element name="ListRacunNeplacani">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idStranka" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRacunNeplacaniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http//www.tehhotel.com/" minOccurs="0" name="ListRacunNeplacaniResult" nillable="true" type="q50:ArrayOfRacun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlacajRacun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlacajRacunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlacajRacunResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMozneRezervacijeSobe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHotel" type="xs:int" />
        <xs:element minOccurs="0" name="datumOd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datumDo" type="xs:dateTime" />
        <xs:element xmlns:q51="http//www.tehhotel.com/" minOccurs="0" name="fos" nillable="true" type="q51:FilterOptionsSoba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="FilterOptionsSoba">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balkon" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Hladilnik" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Internet" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nadstropje" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StPostelj" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Televizija" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Zvezdice" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element xmlns:q52="http//www.tehhotel.com/" name="FilterOptionsSoba" nillable="true" type="q52:FilterOptionsSoba" />
  <xs:element name="ListMozneRezervacijeSobeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http//www.tehhotel.com/" minOccurs="0" name="ListMozneRezervacijeSobeResult" nillable="true" type="q53:ArrayOfSoba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMozneRezervacijeDvorane">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHotel" type="xs:int" />
        <xs:element minOccurs="0" name="datumOd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datumDo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMozneRezervacijeDvoraneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http//www.tehhotel.com/" minOccurs="0" name="ListMozneRezervacijeDvoraneResult" nillable="true" type="q54:ArrayOfDvorana" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMozneRezervacijeParkirisca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHotel" type="xs:int" />
        <xs:element minOccurs="0" name="datumOd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datumDo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMozneRezervacijeParkiriscaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http//www.tehhotel.com/" minOccurs="0" name="ListMozneRezervacijeParkiriscaResult" nillable="true" type="q55:ArrayOfParkirisce" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRacun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Racunid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRacunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http//www.tehhotel.com/" minOccurs="0" name="ReadRacunResult" nillable="true" type="q56:Racun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRacunStranka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrankaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRacunStrankaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http//www.tehhotel.com/" minOccurs="0" name="ReadRacunStrankaResult" nillable="true" type="q57:Racun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSoba">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SobaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSobaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http//www.tehhotel.com/" minOccurs="0" name="ReadSobaResult" nillable="true" type="q58:Soba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDvorana">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DvoranaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDvoranaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http//www.tehhotel.com/" minOccurs="0" name="ReadDvoranaResult" nillable="true" type="q59:Dvorana" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadParkirisce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParkirisceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadParkirisceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http//www.tehhotel.com/" minOccurs="0" name="ReadParkirisceResult" nillable="true" type="q60:Parkirisce" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>