TehHotel.Gui.TEst/Web References/RezervacijaService/RezervacijaService0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http//www.tehhotel.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http//www.tehhotel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http//www.tehhotel.com/Imports">
      <xsd:import schemaLocation="http://164.8.251.93/SOATravel/hotel2/RezervacijaService.svc?xsd=xsd0" namespace="http//www.tehhotel.com/" />
      <xsd:import schemaLocation="http://164.8.251.93/SOATravel/hotel2/RezervacijaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://164.8.251.93/SOATravel/hotel2/RezervacijaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TehHotel.Contracts.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RezervacijaService_CreateRezervacija_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRezervacija" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_CreateRezervacija_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRezervacijaResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_DeleteRacun_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRacun" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_DeleteRacun_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRacunResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_DeleteRezervacijaSobe_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRezervacijaSobe" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_DeleteRezervacijaSobe_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRezervacijaSobeResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_DeleteRezervacijaDvorane_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRezervacijaDvorane" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_DeleteRezervacijaDvorane_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRezervacijaDvoraneResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_DeleteRezervacijaParkirisca_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRezervacijaParkirisca" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_DeleteRezervacijaParkirisca_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRezervacijaParkiriscaResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ListRacun_InputMessage">
    <wsdl:part name="parameters" element="tns:ListRacun" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ListRacun_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListRacunResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ListRacunNeplacani_InputMessage">
    <wsdl:part name="parameters" element="tns:ListRacunNeplacani" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ListRacunNeplacani_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListRacunNeplacaniResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_PlacajRacun_InputMessage">
    <wsdl:part name="parameters" element="tns:PlacajRacun" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_PlacajRacun_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlacajRacunResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ListMozneRezervacijeSobe_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMozneRezervacijeSobe" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ListMozneRezervacijeSobe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMozneRezervacijeSobeResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ListMozneRezervacijeDvorane_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMozneRezervacijeDvorane" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ListMozneRezervacijeDvorane_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMozneRezervacijeDvoraneResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ListMozneRezervacijeParkirisca_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMozneRezervacijeParkirisca" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ListMozneRezervacijeParkirisca_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMozneRezervacijeParkiriscaResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ReadRacun_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadRacun" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ReadRacun_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadRacunResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ReadRacunStranka_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadRacunStranka" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ReadRacunStranka_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadRacunStrankaResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ReadSoba_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadSoba" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ReadSoba_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadSobaResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ReadDvorana_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadDvorana" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ReadDvorana_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadDvoranaResponse" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ReadParkirisce_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadParkirisce" />
  </wsdl:message>
  <wsdl:message name="RezervacijaService_ReadParkirisce_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadParkirisceResponse" />
  </wsdl:message>
  <wsdl:portType name="RezervacijaService">
    <wsdl:operation name="CreateRezervacija">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/CreateRezervacija" message="tns:RezervacijaService_CreateRezervacija_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/CreateRezervacijaResponse" message="tns:RezervacijaService_CreateRezervacija_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRacun">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/DeleteRacun" message="tns:RezervacijaService_DeleteRacun_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/DeleteRacunResponse" message="tns:RezervacijaService_DeleteRacun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRezervacijaSobe">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/DeleteRezervacijaSobe" message="tns:RezervacijaService_DeleteRezervacijaSobe_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/DeleteRezervacijaSobeResponse" message="tns:RezervacijaService_DeleteRezervacijaSobe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRezervacijaDvorane">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/DeleteRezervacijaDvorane" message="tns:RezervacijaService_DeleteRezervacijaDvorane_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/DeleteRezervacijaDvoraneResponse" message="tns:RezervacijaService_DeleteRezervacijaDvorane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRezervacijaParkirisca">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/DeleteRezervacijaParkirisca" message="tns:RezervacijaService_DeleteRezervacijaParkirisca_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/DeleteRezervacijaParkiriscaResponse" message="tns:RezervacijaService_DeleteRezervacijaParkirisca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListRacun">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/ListRacun" message="tns:RezervacijaService_ListRacun_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/ListRacunResponse" message="tns:RezervacijaService_ListRacun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListRacunNeplacani">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/ListRacunNeplacani" message="tns:RezervacijaService_ListRacunNeplacani_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/ListRacunNeplacaniResponse" message="tns:RezervacijaService_ListRacunNeplacani_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlacajRacun">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/PlacajRacun" message="tns:RezervacijaService_PlacajRacun_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/PlacajRacunResponse" message="tns:RezervacijaService_PlacajRacun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListMozneRezervacijeSobe">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/ListMozneRezervacijeSobe" message="tns:RezervacijaService_ListMozneRezervacijeSobe_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/ListMozneRezervacijeSobeResponse" message="tns:RezervacijaService_ListMozneRezervacijeSobe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListMozneRezervacijeDvorane">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/ListMozneRezervacijeDvorane" message="tns:RezervacijaService_ListMozneRezervacijeDvorane_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/ListMozneRezervacijeDvoraneResponse" message="tns:RezervacijaService_ListMozneRezervacijeDvorane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListMozneRezervacijeParkirisca">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/ListMozneRezervacijeParkirisca" message="tns:RezervacijaService_ListMozneRezervacijeParkirisca_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/ListMozneRezervacijeParkiriscaResponse" message="tns:RezervacijaService_ListMozneRezervacijeParkirisca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadRacun">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/ReadRacun" message="tns:RezervacijaService_ReadRacun_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/ReadRacunResponse" message="tns:RezervacijaService_ReadRacun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadRacunStranka">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/ReadRacunStranka" message="tns:RezervacijaService_ReadRacunStranka_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/ReadRacunStrankaResponse" message="tns:RezervacijaService_ReadRacunStranka_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadSoba">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/ReadSoba" message="tns:RezervacijaService_ReadSoba_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/ReadSobaResponse" message="tns:RezervacijaService_ReadSoba_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadDvorana">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/ReadDvorana" message="tns:RezervacijaService_ReadDvorana_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/ReadDvoranaResponse" message="tns:RezervacijaService_ReadDvorana_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadParkirisce">
      <wsdl:input wsaw:Action="http//www.tehhotel.com/RezervacijaService/ReadParkirisce" message="tns:RezervacijaService_ReadParkirisce_InputMessage" />
      <wsdl:output wsaw:Action="http//www.tehhotel.com/RezervacijaService/ReadParkirisceResponse" message="tns:RezervacijaService_ReadParkirisce_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>